<%- include("header") -%> 

<h2>About the app</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus modi ratione omnis dolorum rerum quam beatae minima, facilis aspernatur cum culpa fugiat asperiores exercitationem vitae! Maiores porro esse incidunt ex.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, blanditiis. Corrupti quam, necessitatibus omnis dolores at dolore assumenda. Hic ratione soluta quam quo sunt aliquid quidem, cupiditate quasi officia magnam.</p>

<%- include("footer") -%> 